.widgetLg {
    flex: 2;
    -webkit-box-shadow: 0px 0px 11px -1px #d1d1d1; 
    box-shadow: 0px 0px 11px -1px #d1d1d1;
    padding: 20px;
    
}

.widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
}

.widgetLgTable {
    width: 100%;
    border-spacing: 20px;
}

.widgetLgTh {
    text-align: left;
}

.widgetLgDate, .widgetLgAmount {
    font-weight: 300;
}

.widgetLgButton {
    padding: 5px 7px;
    border-radius: 10px;
    border: none;
}

.widgetLgButton.Approved {
    background-color: #d2ffee;
    color: #2b8d5e;
}

.widgetLgButton.Declined {
    background-color: #ffdfe1;
    color: #d95087;
}

.widgetLgButton.Pending {
    background-color: #c4d7ff;
    color: #2a7ade;
}