.patientList {
    flex: 4;
    padding: 20px;
}


.patientListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.patientDelete {
    color: red;
    cursor: pointer;
}

.ostaffListEditRed{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #d60b0b;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.listHeading {
    font-weight: 600;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.subHeading {
    color: gray;
    font-size: 15px;
}

.button-right {
    float: right;
}

.buttons-container {
    display: inline-block;
    padding-bottom: 5px;
    flex: 1;
}